// angular-material customization
// $body-font-size-base: 16px;
// $app-bar-height: 50px;
// $baseline-grid: 8px;
// $layout-gutter-width: ($baseline-grid * 2)
// $button-left-right-padding: rem(0.600)

$md-primary: #039BE5;
$md-accent: #EC407A;
$md-color-danger: rgb(221,44,0);
$md-gutter: 16px;
$md-light-text: #707273;
$md-line-height: 1.6em;

// Common
$CO--brand-dark: #1E3136;
$CO--brand-light: #F4F9FB;
$CO--brand-accent: $md-accent;

// Components
$CO--transcript__item--odd-background: #F3F4F5;
$CO--transcript__item--odd-color: #929497;
$CO--transcript__item--even-background: #ECF0F7;
$CO--transcript__item--even-color: #050504;
$CO--transcript__word-bg-higlight: $md-primary;
$CO--transcript__word-bg-hover: lighten($CO--transcript__word-bg-higlight, 35%);

$CO--player__height: 40px;

$CO--indicator__height: 45px;
$CO--indicator__borderRadius: 5px;
$CO--indicator__background: #FFFFFF;
$CO--indicator__pipes-background: #A5A5A5;
$CO--indicator__cursor-background: #211E1E;
$CO--indicator__gradient-step1: #e93c38;
$CO--indicator__gradient-step2: #fbc711;
$CO--indicator__gradient-step3: #8bc540;

@mixin CO--small-title () {
  font-size: 16px;
  font-weight: 700;
  margin: ($md-gutter / 2) 0 $md-gutter;
  text-transform: uppercase;
}
