<div class="dictate container">

  <div>
    <!-- <audio controls ngf-src="!files[0].$error && files[0]"></audio> -->
    <audio id="dictate__audio" controls src="{{ $ctrl.file.src }}"></audio>
  </div>

  <span ng-class="{'highlight': $ctrl.workersAvailableNumber === 0}">
    Number of available workers: {{ $ctrl.workersAvailableNumber }}
  </span>

  <div ngf-select="$ctrl.onFileSelect()" ngf-drop ng-model="$ctrl.files" ngf-model-invalid="$ctrl.invalidFiles"
    ngf-model-options="$ctrl.conf.modelOptions"
    ngf-multiple="$ctrl.conf.multiple" ngf-pattern="$ctrl.conf.pattern" ngf-accept="$ctrl.conf.accept"
    ng-disabled="$ctrl.conf.disabled"
    ngf-validate="$ctrl.conf.validate"
    ngf-duration="$ctrl.conf.duration($file, $duration)"
    ngf-keep="$ctrl.conf.keepDistinct ? 'distinct' : keep"
    ngf-max-files="$ctrl.conf.maxFiles"
    ngf-ignore-invalid="$ctrl.conf.ignoreInvalid"
    ngf-run-all-validations="$ctrl.conf.runAllValidations"
    ngf-allow-dir="$ctrl.conf.allowDir"
    ngf-drag-over-class="'drag-over'"
    class="drop-box">
    <!--
    ngf-capture="$ctrl.conf.capture"
    ngf-dimensions="dimensionsFn($file, $width, $height)"
    ngf-resize="resizeObj"
    ngf-resize-if="resizeIfFn($file, $width, $height)"
    -->
    Select File or Drop File
  </div>
  <ul>
    <li class="sel-file" ng-repeat="file in $ctrl.files">
      <div>
        <span class="progress" ng-show="file.progress >= 0">
          <div style="width:{{file.progress}}%">{{file.progress}}%</div>
        </span>
        <button class="button" ng-click="file.upload.abort();file.upload.aborted=true"
                ng-show="file.upload != null && file.progress < 100 && !file.upload.aborted">
          Abort<span ng-show="$ctrl.conf.isResumeSupported">/Pause</span>
        </button>
        <button class="button" ng-click="$ctrl.upload(file, true);file.upload.aborted=false"
                ng-show="$ctrl.conf.isResumeSupported && file.upload != null && file.upload.aborted">Resume
        </button>
        <button class="button" ng-click="$ctrl.uploadRestart(file);file.upload.aborted=false"
                ng-show="$ctrl.conf.isResumeSupported && file.upload != null && (file.progress == 100 || file.upload.aborted)">Restart
        </button>
        <span>{{file.name}} - size: {{file.size}}B - type: {{file.type}}</span>
        <md-button ng-show="file.result" ng-click="file.showDetail = !$file.showDetail">details</md-button>

        <div ng-show="file.showDetail">
          <div data-ng-show="file.result.result == null">{{file.result}}</div>
          <ul>
            <li ng-repeat="item in file.result.result">
              <div data-ng-show="item.name">file name: {{item.name}}</div>
              <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
              <div data-ng-show="item.size">size on the server: {{item.size}}</div>
              <div data-ng-show="item.value">value: {{item.value}}</div>
            </li>
          </ul>
          <div data-ng-show="file.result.requestHeaders">request headers: {{file.result.requestHeaders}}</div>
        </div>
      </div>
    </li>
    <li class="md-warn" ng-repeat="file in $ctrl.invalidFiles">
      <div>Invalid File: {{file.$errorMessages}} {{file.$errorParam}}, {{file.name}} - size: {{file.size}}B - type:
        {{file.type}}
      </div>
    </li>
  </ul>

  <md-button ng-click="$ctrl.toggleListening();" ng-disabled="($ctrl.workersAvailableNumber === 0 && !$ctrl.isConnected) || $ctrl.status === 'end' || $ctrl.status === 'speech-end'">
    <span ng-show="$ctrl.status === 'speech-end'">Stopping...</span>
    <span ng-show="$ctrl.status === 'end'">Start</span>
    <span ng-show="$ctrl.status === 'speech-ready'">Stop</span>
    <md-tooltip>Starts/stops listening for speech.</md-tooltip>
  </md-button>
  <md-button ng-click="$ctrl.cancel()" ng-disabled="$ctrl.status === 'end'">
    Cancel
    <md-tooltip>Cancels the speech recognition</md-tooltip>
  </md-button>
  <md-button ng-click="$ctrl.clearTranscription()">
    Clear
    <md-tooltip>Clears the transcription</md-tooltip>
  </md-button>

  <md-input-container class="md-block">
    <label>Transcription</label>
    <textarea id="trans" ng-model="$ctrl.transcription" rows="5"></textarea>
  </md-input-container>

  <md-input-container>
    <label>Server</label>
    <md-select
      ng-model="$ctrl.server"
      name="server">
      <md-option ng-value="server" ng-repeat="server in $ctrl.servers" ng-click="$ctrl.changeServer(server)">{{:: server.name }}</md-option>
    </md-select>
  </md-input-container>

  <pre>{{ $ctrl.message }}</pre>
</div>