@import "common/config.variables";
@import "common/common";

.app {
  &__loader {
    z-index: 2;

    &-bar {
      z-index: 11;
      position: absolute;
      top: 0;
    }
  }

  &__header {
    z-index: 3;
    position: relative;
    width: 100%;

    .md-toolbar-tools {
      margin: 0 auto;
      a {
        color: white;
      }
    }

    .co-logotype {
      margin: 0 35px -6px 0;
    }
  }

  &__body {
    z-index: 1;
    position: relative;
    padding: $md-gutter / 2;
  }

  &__footer {}

  &__section {
    padding: $md-gutter * 2;
  }


  &__container {
    width: 800px !important;
    max-width: 800px !important;
    margin: 0 auto;
  }
}

app {
  background: $md-primary;
}
